<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        fieldset
            legend Edit #{char.name}
            form(action="/update/" + char._id method="post")
                p Name:&nbsp;
                    input(type="text" name="name" value=char.name)
                p Race:&nbsp;
                    select(name="race")
                        if char.race == "Orc"
                            option(selected) Orc
                        else 
                            option Orc
                        if char.race == "Elf"
                            option(selected) Elf
                        else 
                            option Elf
                        if char.race == "Dwarves"
                            option(selected) Dwarves
                        else 
                            option Dwarves
                        if char.race == "Human"
                            option(selected) Human
                        else 
                            option Human
                        if char.race == "Halflings"
                            option(selected) Halflings
                        else
                            option Halflings
                p Class:&nbsp;
                    select(name="class")
                        option Warrior
                        option Archer
                        option Sorceror
                        option Rogue
                p Level:&nbsp;
                    input(type="number" name="level" min=0, max=60 value=char.level)
                button(type="submit") Create